<div> 
    <sub-navbar (subNavbarEvent)="getTypeChart($event)" [deviceVariables]="deviceVariables"></sub-navbar>
</div>

<!--<span>JSON CHART: {{dataChart}}</span>-->

<div>
    <div class="row">
        <div class="col s4">
            <div class="card" id="device-card">

                <div id="listen-device-section">

                    <div class="row">
                        <div class="col s6"><span>Dispositivo escuchado:</span></div>
                        <div class="col s6"> <p-autoComplete [(ngModel)]="nameDevice" [suggestions]="filteredDevicesArray" (completeMethod)="filterDevice($event)"
                            placeholder="Nombre del dispositivo" [minLength]="1"></p-autoComplete></div>
                    </div>
                    <!--<span id="add-listener-icon"><i class="material-icons add-button">add_circle</i>Agregar dispositivo</span>-->       
                </div>

                <div id="listen-amount-section">
                    
                        <div class="row">
                            <div class="col s6"><label for="text">Cantidad de datos:</label></div>
                            <div class="col s6"><input id="amount_data" type="text" pInputText class="validate"></div>
                        </div>
                    
                </div>

                <div id="listen-delay-section">
                    <div class="row">
                        <div class="col s6"><label for="text">Frecuencia de datos:</label></div>
                        <div class="col s6"><input id="delay_data" type="text" pInputText class="validate"></div>
                    </div>
                    
                </div>

                <div id="listen-button-section" class="right-align">

                    <p-toggleButton (click)="listenDevice()" [(ngModel)]="listenChecked" onLabel="Escuchar" offLabel="Desconectar" ></p-toggleButton>
                    <!--<a class="blue darken-1 btn-small" (click)="listenDevice()">Escuchar</a>-->
                </div>
                
            </div>

        </div>

        <div class="col s4">
            <div class="card" id="msg-card">
                <div id="listado-msj">
                    <p-table [value]="dataToChart" [scrollable]="true" scrollHeight="115px">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Dato</th>
                                <!--<th>Hora</th>-->
                                
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                            <tr>
                                <td>
                                    <h6 >{{data}}</h6>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <!--<ul>
                        <li>
                            <h6 *ngFor="let data of dataToChart">{{data}}</h6>
                        </li>
                    </ul>-->
                </div>
            </div>
        </div>
    
        <div class="col s4">
            <div class="card" id="sender-card">

                <div id="sender-device-section">
                    <div class="row">
                        <div class="col s6"><span>Dispositivo receptor:</span></div>
                        <div class="col s6"><span>Agregar dispositivo</span></div>
                        <!--<i class="material-icons add-button">add_circle</i>-->
                    </div>
                </div>


                <div id="sender-msg-section">
                    <div class="row">
                        <div class="col s6"><label for="text">Mensaje a enviar</label></div>
                        <div class="col s6"><input id="send_msg" type="text" pInputText class="validate" name="messageToSend" [(ngModel)]="messageToSend"></div>
                    </div>
                </div>
                
                <div id="send-button-section" class="right-align">
                    <a class="blue darken-1 btn-small" (click)="sendMsg()">Enviar</a>
                </div>
                

            </div>
        </div>
    
        
    </div>
</div>


<!--<div class="widgets-section">
    <a type="button" id="add-button" (click)="addWidget(chart)">Agregar</a>
</div>-->


<!--<canvas #charts *ngFor="let chart of charts; let i = index" id="charts">{{chart}}</canvas>-->
<chart></chart>
<!--<chart [chartDataMessage]="parentMMessage"></chart>-->

<!--<div class="listado-msj">
    <h3>Listado de mensajes</h3>
    <ul>
        <li>
            <h5 *ngFor="let data of dataToChart">{{data}}</h5>
        </li>
    </ul>
</div>-->

<!--<chart></chart>-->