<div> 
    <sub-navbar></sub-navbar>
</div>

<div>
    <div class="row">
        <div class="col s4">
            <div class="card" id="device-card">
                <div id="listen-device-section">
                    <span>Dispositivo escuchado:</span>
                    <span id="add-listener-icon"><i class="material-icons">add_circle</i>Agregar dispositivo</span>
                </div>

                <div class="row">

                    <div id="listen-amount-section" class="col s6">
                        <div class="input-field">
                            <input id="amount_data" type="text" class="validate">
                            <label for="text">Cantidad de datos</label>
                        </div>
                    </div>
                        
                    <div id="listen-delay-section" class="col s6">
                        <div class="input-field">
                            <input id="delay_data" type="text" class="validate">
                            <label for="text">Frecuencia de datos (ms)</label>
                        </div>
                    </div>
                </div>

                <div class="listen button-section" class="right-align">
                    <a class="blue darken-1 btn-small">Escuchar</a>
                </div>
                
            </div>

        </div>
    
        <div class="col s4">
            <div class="card" id="sender-card">
                <div id="sender-device-section">
                    <span>Dispositivo receptor:</span>
                    <span><i class="material-icons">add_circle</i>Agregar dispositivo</span>
                </div>

                <div class="row">
                    <div id="sender-msg-section">
                        <div class="input-field">
                            <input id="send_msg" type="text" class="validate" [(ngModel)]="messageToSend">
                            <label for="text">Mensaje a enviar</label>
                        </div>
                    </div>
                </div>
                

                <div id="send-button-section" class="right-align">
                    <a class="blue darken-1 btn-small" (click)="sendMsg()">Enviar</a>
                </div>
                

            </div>
        </div>
    
        <div class="col s4">
            <div class="card">
                
            </div>
        </div>
    </div>
</div>


<div class="widgets-section">
    <a type="button" id="add-button" (click)="addWidget(chart)">Agregar</a>
</div>

<div >
    <a type="button" id="send-button" (click)="sendMsg()">Cerrar sesión</a>
</div>

<div>
    <ng-template #container></ng-template>
</div>

<div class="listado-msj">
    <h3>Listado de mensajes</h3>
    <ul>
        <li>
            <h5>{{message}}</h5>
        </li>
    </ul>
</div>

<chart></chart>