<div> 
    <sub-navbar (subNavbarEvent)="getTypeChart($event)"></sub-navbar>
</div>

<!--<span>JSON CHART: {{dataChart}}</span>-->

<div>
    <div class="row">
        <div class="col s4">
            <div class="card" id="device-card">

                <div id="listen-device-section">
                    <span>Dispositivo escuchado:</span>
                    <span id="add-listener-icon"><i class="material-icons add-button">add_circle</i>Agregar dispositivo</span>
                
                    
                </div>

                <div id="listen-amount-section">

                    <div class="input-field">
                        <label for="text">Cantidad de datos</label>
                        <input id="amount_data" type="text" pInputText class="validate">
                    </div>
                </div>

                <div id="listen-delay-section">
                    <div class="input-field">
                        <label for="text">Frecuencia de datos (ms)</label>
                        <input id="delay_data" type="text"pInputText class="validate right-align">
                        
                    </div>
                </div>

                <div id="listen-button-section" class="right-align">
                    <a class="blue darken-1 btn-small" (click)="getDataToChart()">Escuchar</a>
                </div>
                
            </div>

        </div>
    
        <div class="col s4">
            <div class="card" id="sender-card">
                <div id="sender-device-section">
                    <span>Dispositivo receptor:</span>
                    <span><i class="material-icons add-button">add_circle</i>Agregar dispositivo</span>
                </div>

                <div class="row">
                    <div id="sender-msg-section">
                        <div class="input-field">
                            <label for="text">Mensaje a enviar</label>
                            <input id="send_msg" type="text" pInputText class="validate" name="messageToSend" [(ngModel)]="messageToSend">
                            
                        </div>
                    </div>
                </div>
                

                <div id="send-button-section" class="right-align">
                    <a class="blue darken-1 btn-small" (click)="sendMsg()">Enviar</a>
                </div>
                

            </div>
        </div>
    
        <div class="col s4">
            <div class="card">
                <div id="listado-msj">
                    <h5>Listado de mensajes</h5>

                    <p-table [value]="dataToChart">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Dato</th>
                                <th>Hora</th>
                                
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                            <tr *ngFor="let data of dataToChart">
                                <td>
                                    <h6 >{{data}}</h6>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <!--<ul>
                        <li>
                            <h6 *ngFor="let data of dataToChart">{{data}}</h6>
                        </li>
                    </ul>-->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="widgets-section">
    <a type="button" id="add-button" (click)="addWidget(chart)">Agregar</a>
</div>


<!--<canvas #charts *ngFor="let chart of charts; let i = index" id="charts">{{chart}}</canvas>-->
<chart></chart>
<!--<chart [chartDataMessage]="parentMMessage"></chart>-->

<!--<div class="listado-msj">
    <h3>Listado de mensajes</h3>
    <ul>
        <li>
            <h5 *ngFor="let data of dataToChart">{{data}}</h5>
        </li>
    </ul>
</div>-->

<!--<chart></chart>-->