<div class="container">
    <div class="row">
        <div class="col s4">
            <div class="card small">
                <div class="card-image">
                    <img src="assets/images/java_card.jpg">
                    
                </div>
                <div class="card-content">
                    <p>Libreria Java UAOIOT</p>
                </div>
                <div class="card-action">
                    <a class="blue-text" href="#">Descargar</a>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card small">
                <div class="card-image">
                    <img id="image_arduino" src="assets/images/arduino_card.jpg">   
                </div>
                <div class="card-content">
                    <p>Libreria Arduio UAOIOT</p>
                </div>
                <div class="bluetext card-action">
                    <a class="blue-text" href="#">Descargar</a>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card small">
                <div class="card-image">
                    <img src="assets/images/ejemplos.jpg">
                    
                </div>
                <div class="card-content">
                    <p>Ejemplos UAOIOT</p>
                </div>
                <div class="card-action">
                    <a class="blue-text" href="#">Descargar</a>
                </div>
            </div>
        </div>

    </div>
</div>

