<p-dialog header="Crear proyecto" [(visible)]="display" [dismissableMask]="true" [responsive]="true" showEffect="fade" [modal]="true"
[width]="400" [minWidth]="300" >

    <div class="ui-inputgroup">
        <input type="text" pInputText placeholder="Nombre del proyecto" name="nameProject" [(ngModel)]="nameProject">        
    </div>

    <div id="description-div">
        <textarea rows="10" cols="30" pInputTextarea autoResize="autoResize" placeholder="Descripción"></textarea> 
    </div>
    
    <p-footer>
        <a class="btn-flat blue-text" (click)="getProjectData()">CREAR</a>
    </p-footer>

</p-dialog>

<p-dialog header="Eliminar proyecto" [(visible)]="displayDelete" [dismissableMask]="true" [responsive]="true" showEffect="fade" [modal]="true"
[width]="400" [minWidth]="300" >

    <p>¿Estás seguro que deseas eliminar este proyecto?</p>
    
    <p-footer>
        <a class="btn-flat blue-text" (click)="deleteProject()">Si</a>
        <a class="btn-flat blue-text" (click)="displayDelete=false" >No</a>
    </p-footer>

</p-dialog>


<div id="projects-div">

    <div class="row">
        <div *ngFor="let project of projectsArray; let i = index" class="col s3">
            <div >
                <div class="card" >
                    <div class="card-content" (click)="goToDashboard(i)">
                        <span class="card-title">{{project.name}}</span>
                        <p></p>
                        <p>{{project.user}}</p>
                    </div>
                    
                    <div class="card-action right-align">
                        <a pTooltip="Editar" tooltipPosition="bottom"><i class="material-icons">create</i></a>
                        <a pTooltip="Eliminar" tooltipPosition="bottom" (click)="showDialogDeleteProject(i)"><i class="material-icons">delete</i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s3">
            <div class="card" id="addProjectButton">
                <a type="button" id="add-button" (click)="showDialogAddProject()">Crear proyecto</a>
            </div>
        </div>
    </div>
    
    
</div>