<div>
    <h2>Agregar usuarios</h2>
    <div class="row">
        <form #formRegistro="ngForm" (ngSubmit)="onRegisterSubmit()" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="userName" type="text" class="validate" name="userName" [(ngModel)]="userName">
                    <label for="userName">Ingresar usuario</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="name" type="text" class="validate" name="name" [(ngModel)]="name">
                    <label for="name">Ingresar nombre</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" name="password" [(ngModel)]="password">
                    <label for="password">Ingresar contraseña</label>
                </div>
            </div>

            <div class="row">
                <input type="submit" class="waves-effect waves-light btn" value="Submit">
                <a class="waves-effect waves-light btn" type="Submit">Ingresar</a>
            </div>
        </form>
    </div>
</div>