<!--DIALOG STEPS-->
<p-dialog header={{titleDialog}} [(visible)]="display"  [dismissableMask]="true" [responsive]="true" showEffect="fade" [modal]="true"
[style]="{width: '500px', height: '200px'}">

    <div id="config-section" >

        <ng-container *ngIf="activeIndex === 0; else second">
            <div class="center-align" id="type-section" >
                <div class="row">
                    <div class="col s6">
                        <p-radioButton name="group1" value="line" label="Lineas" 
                        [(ngModel)]="dataToChart.type" inputId="opt1"></p-radioButton>
                    </div>
            
                    <div class="col s6">
                        <p-radioButton name="group1" value="bar" label="Barras" 
                        [(ngModel)]="dataToChart.type" inputId="opt2"></p-radioButton>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-template #second>
            <ng-container *ngIf="activeIndex === 1; else third">
                <input type="text" pInputText [(ngModel)]="dataToChart.title"/>
            </ng-container>
        </ng-template>

        <ng-template #third>
            <ng-container *ngIf="activeIndex === 2;">
                <div class="col s6">
                    <p-radioButton name="group1" value="allData" label="Todos los datos" 
                    [(ngModel)]="dataToChart.amount" inputId="opt1"></p-radioButton>
                </div>
            
                <div class="col s6">
                    <p-radioButton name="group1" value="lastData" label="Último dato" 
                    [(ngModel)]="dataToChart.amount" inputId="opt2"></p-radioButton>
                </div>
            </ng-container>
        </ng-template>


    </div>
    

    <div id="step-section">
        <div class="p-grid p-align-end vertical-container">
            <div class="p-col">
                <p-steps [model]="stepItems" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
            </div>
        </div>
    </div>

        <!--{{typeDataChart}}-->
        
    <!--<p-footer>
        <a class="btn-flat blue-text" (click)="sendData()">CREAR</a>
    </p-footer>-->


</p-dialog>

<nav>
    <div id="buttons" >
        <ul class="center-align">
            <li><a id="chart-button" class="btn-floating blue darken-1" pTooltip="Graficar" 
            tooltipPosition="bottom"><i class="material-icons"(click)="showDialogTypeChart()" >insert_chart</i></a></li>
            
            <li><a id="table-button" class="btn-floating blue darken-1" pTooltip="Tabular" tooltipPosition="bottom"><i class="material-icons">table_chart</i></a></li>
    
        </ul>
    </div>
</nav>