html,body{
    background-color: #F0F0F7;
}
#device-card{
    padding: 0em 0.9em 0.5em 0.9em;
}


#sender-card{
    padding: 0.5em 0.8em 0.5em 0.8em;
}

#listen-device-section{
    
    padding-top: 0em;
    padding-bottom: 0.5em;
}

#listen-amount-section{
    
    padding: 0.5em 1.5em 0em 0em;
    margin: 0;
    
}

#listen-delay-section{
    margin: 0;
    padding: 0.5em 1.5em 0em 0em;
}

#listen-button-section{
    margin-top: 1em;
}

#sender-device-section{
    padding-top: 0.5em;

}

#sender-msg-section{
    padding: 0.5em 1.5em 0em 0em;
}

.row{
    margin: 0;
}
.input-field{
    display: flex;
    justify-content: space-between;
}

.add-button{
    margin: 1em 0.3em 0em 0em;
    color:#1e88e5;
}