.material-icons{
    color: darkgrey;
    cursor: pointer;
}

.card-title{
    font-size: 1.2em;
}
.card-content{
    padding-top: 1em;
}

.card-action{
    padding: 0.5em;
}

#devices-div{
    margin: 2em 3em;
}

#variables-chips{
    display: inline-block;
    margin-top: 0.8em;
}
#variables-div{
    margin-top: 1.2em;
    
}

#project-span{
    font-weight: 700;
}