$rojo-principal: #ec1c24;
$rojo-secundario: #e83e44;

#login-section{
    margin: 0 auto;   
}

#title-card{
    font-weight: 500;
}

#content-card{
    padding: 4em 0 0 0;
}

#login-button{
    color: white;
    font-weight: 400;
}



