$rojo-principal: #ec1c24;
$rojo-secundario: #e83e44;

#login-section{
    margin: 0 auto;   
}

#data-section{
    margin: 1.5em 0em 1.5em 0em;
}

.card .card-content {
    padding: 3em 0em 3em 0em;
    border-radius: 0 0 2px 2px;
}

#title-card{
    
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

#content-card{
    padding: 4em 0 4em 0;
}

#login-button{
    color: white;
    font-weight: 400;
    font-size: 0.8em;
}



